// ==========================================================================
// Animation
// ==========================================================================

$opacity: 0.7 !default;
$transition-duration: 0.3s !default;
$transition-timing-function: ease !default;
