//- Header
header.l-header.u-bg-color--accent
    .l-header__inner 
        .p-header__logo 
            a(href="/").p-header__logo-link
        button(type="button" aria-controls="header-nav" aria-expanded="false").p-header__menu-btn.js-menu ボタンです

        //- グローバルナビゲーション
        nav#header-nav.p-header__nav
            ul.p-header__nav-list
                li.p-header__nav-item
                    a(href="/").p-header__nav-link ホーム
                li.p-header__nav-item
                    a(href="sample.html").p-header__nav-link サンプル
                li.p-header__nav-item
                    a(href="sample02.html").p-header__nav-link サンプル2
//- /Header