@use "../../global/mixin" as *;

body {
  @include full-width();
}

p {
  font-size: get_vw(240, tab);
}

img {
  max-width: 100%;
  height: auto;
}

.p-about__list {
  display: flex;
  flex-wrap: wrap;
  margin-top: -40px;
  margin-left: -40px;
}

.p-about__item {
  width: calc((100% / 3) - 40px);
  margin-top: 40px;
  margin-left: 40px;
}
.p-about__item img {
  display: block;
}
.p-about__img-wrapper {
  @include ratio();
}
