extends ../_template/_layout
block page
  - var page = "hoge";

block main
  main#top.l-main
    .l-container
      img(src="../assets/img/fushi.png")
      img(src="../assets/img/hito.png")
      img(src="../assets/img/hito.png")
      img(src="../assets/img/hito.png")
    p aaabbb
    svg
      use(xlink:href="#clock")
