extends ./_template/_layout
block page
  - var page = "home";

block main
  main#top.l-main

    .c-container
      ul.p-about__list
        li.p-about__item
          .p-about__img-wrapper
            img.p-about__img(src="https://zukan.pokemon.co.jp/zukan-api/up/images/index/89953014f442146518ef45787d9bb0a4.png" alt="")
          p aaaaaaaaaaaaaaaaaaa
        li.p-about__item
          .p-about__img-wrapper
            img.p-about__img(src="https://contents.newspicks.com/images/news/6169712?updatedAt=20210907203635" alt="")
          p aaaaaaaaaaaaaaaaaaa
        li.p-about__item
          .p-about__img-wrapper
            img.p-about__img(src="https://images.freeimages.com/images/small-previews/88b/peach-1459224.jpg" alt="")
          p aaaaaaaaaaaaaaaaaaa
        li.p-about__item
          .p-about__img-wrapper
            img.p-about__img(src="https://images.freeimages.com/images/small-previews/88b/peach-1459224.jpg" alt="")
          p aaaaaaaaaaaaaaaaaaa
        li.p-about__item
          .p-about__img-wrapper
            img.p-about__img(src="https://images.freeimages.com/images/small-previews/88b/peach-1459224.jpg" alt="")
          p aaaaaaaaaaaaaaaaaaa
        li.p-about__item
          .p-about__img-wrapper
            img.p-about__img(src="https://images.freeimages.com/images/small-previews/88b/peach-1459224.jpg" alt="")
          p aaaaaaaaaaaaaaaaaaa
